.layermbox{position:relative;z-index:19891014}.layermmain,.laymshade{position:fixed;left:0;top:0;width:100%;height:100%}.layermbtn span,.layermchild{display:inline-block;position:relative}.laymshade{background-color:rgba(0,0,0,.5);pointer-events:auto}.layermmain{display:table;font-family:Helvetica,arial,sans-serif;pointer-events:none}.layermmain .section{display:table-cell;vertical-align:middle;text-align:center}.layermchild{text-align:left;background-color:#fff;font-size:14px;border-radius:3px;box-shadow:0 0 8px rgba(0,0,0,.1);pointer-events:auto;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:.18s;animation-duration:.18s}.layermborder{border:1px solid #999}@-webkit-keyframes bounceIn{0%{opacity:0;-webkit-transform:scale(.5);transform:scale(.5)}100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}}.layermanim{animation-name:bounceIn;-webkit-animation-name:bounceIn}.layermbox0 .layermchild{max-width:90%;min-width:150px}.layermbox1 .layermchild{border:none;border-radius:0}.layermbox2 .layermchild{width:auto;max-width:260px;min-width:40px;border:none;background:0 0;box-shadow:none;color:#fff}.layermchild h3{padding:0 45px 0 10px;height:50px;line-height:50px;font-size:16px;font-weight:400;border-radius:3px 3px 0 0;border-bottom:1px solid #EBEBEB}.layermbtn span,.layermchild h3{text-overflow:ellipsis;overflow:hidden;white-space:nowrap}.layermcont{padding:20px 15px;line-height:22px;text-align:center}.layermbox1 .layermcont{padding:0;text-align:left}.layermbox2 .layermcont{text-align:center;padding:0;line-height:0}.layermbox2 .layermcont i{width:25px;height:25px;margin-left:8px;display:inline-block;background-color:#fff;border-radius:100%;-webkit-animation:bouncedelay 1.4s infinite ease-in-out;animation:bouncedelay 1.4s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}@-webkit-keyframes bouncedelay{0%,100%,80%{transform:scale(0);-webkit-transform:scale(0)}40%{transform:scale(1);-webkit-transform:scale(1)}}@keyframes bouncedelay{0%,100%,80%{transform:scale(0);-webkit-transform:scale(0)}40%{transform:scale(1);-webkit-transform:scale(1)}}.layermbox2 .layermcont i:first-child{margin-left:0;-webkit-animation-delay:-.32s;animation-delay:-.32s}.layermbox2 .layermcont i.laymloadtwo{-webkit-animation-delay:-.16s;animation-delay:-.16s}.layermbox2 .layermcont>div{line-height:22px;padding-top:7px;margin-bottom:20px;font-size:14px}.layermbtn{position:relative;height:40px;line-height:40px;font-size:0;text-align:center;border-top:1px solid #EBEBEB}.layermbtn span{width:50%;text-align:center;font-size:14px;cursor:pointer;border-radius:0 3px 0 0}.layermbtn span:first-child{height:39px;background-color:#fff;border-radius:0 0 0 3px}.layermbtn:before{content:'\20';position:absolute;width:1px;height:39px;left:50%;top:0;background-color:#EBEBEB}.layermend{position:absolute;right:7px;top:10px;width:30px;height:30px;border:0;font-weight:400;background:0 0;cursor:pointer;-webkit-appearance:none;font-size:30px}.layermend::after,.layermend::before{position:absolute;left:5px;top:15px;content:'';width:18px;height:1px;background-color:#999;transform:rotate(45deg);-webkit-transform:rotate(45deg);border-radius:3px}.layermend::after{transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}
body,
div,
ul,
li,
h1,
h2,
h3,
input,
textarea,
p,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  overflow-x: hidden;
  font-family: 'Microsoft YaHei', 'PingHei', 'Lucida Grande', 'Lucida Sans Unicode', 'STHeiti', 'Helvetica', 'Arial', 'Verdana', 'sans-serif'; 
  color: #494b4c;
  font-size: 85%;
  /* 关闭字体自动调整大小 */
  -webkit-text-size-adjust: none;
  /* 滚动顺畅 */
  -webkit-overflow-scrolling: touch;
}

a {
  color: #494b4c;
  text-decoration: none;
  display: inline-block;
}

input {
  outline: none;
  border-radius: 0;
  background-color: inherit;
  box-shadow: none;
  -webkit-box-shadow: none;
}

@media screen and (max-width: 360px) {
  html {
    font-size: 85%;
  }
}

@media screen and (min-width: 361px) and (max-width: 480px) {
  body {
    font-size: 90%;
  }
}

@media screen and (min-width: 481px) and (max-width: 640px) {
  body {
    font-size: 95%;
  }
}

@media screen and (min-width: 641px) and (max-width: 800px) {
  body {
    font-size: 100%;
  }
}

@media screen and (min-width: 801px) {
  body {
    font-size: 105%;
  }
}

a,
img {
  /* 长按不要呼出默认菜单 */
  -webkit-touch-callout: none;
  /* 点击不要虚线框 */
  -webkit-tap-highlight-color: transparent;
  /* 不要选中文本 */
  user-select: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.user-select {
  user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: -ms-none;
  -o-user-select: none;
}

.clear {
  clear: both;
  font-size: 0;
  height: 0;
}

.flex {
  display: -webkit-box;
  display: box;
  
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: flex;
}

.flex-1 {
  -webkit-box-flex: 1;
  box-flex: 1;

  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;

  display: block;
}

.txt-l {
  text-align: left;
}

.txt-c {
  text-align: center;
}

.txt-r {
  text-align: right;
}


/* 超出的字体变省略号 */

.textover {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.textover2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none !important;
}



/* 框架入口 */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ice {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  overflow: auto;
  overflow-y: scroll;
}

.ice div {
  z-index: 1 !important;
}

/* 主内容 */
.ice-main {
  padding-bottom: 2rem;
}

/* 刷新块 */

.ice-refresh {
  position: fixed;
  top: -3rem;
  width: 100%;
  height: 1rem;
  padding-top: .5rem;
  padding-bottom: 1.5rem;
  text-align: center;
  color: #aaa;
}

.ice-refresh span {
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
}

.ice-refresh span:after {
  content: '↓'
}

/* 加载更多 */
.ice-load {
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  color: #ccc;
}

/* 文字不能选择 */

.ice-user-select {
  user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: -ms-none;
  -o-user-select: none;
}
/* ========== 框架布局 ========== */

a {
  color: inherit;
}

/* 顶部 */
.ice-nav {
  position: fixed;
  width: 100%;
  top: 0;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  z-index: 2;
}

.ice-nav a {
  display: block;
}

.ice-nav >div {
  display: block;
  height: 100%;
  font-size: 1rem;
  border-bottom: 1px solid #e6e3da;
  text-align: center;
  z-index: 2;
}

.ice-nav >div.nav-choose {
  height: 2.78rem;
  border-bottom: .3rem solid #fa702a;
  color: #fa702a;
}

/* 底部 */
.ice-bar {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  z-index: 2;
}

.ice-bar .i-link {
  display: block;
  border-top: 1px solid #d6d4d0;
  border-right: 1px solid #d6d4d0;
  font-size: .96rem;
}

/* 重写 */


.ice.ice-have-nav {
  top: 3rem;
}

.ice.ice-have-bar {
  bottom: 3rem;
}

/* ========== 重写框架布局 ========== */


/* ========== 公用提示信息 ========== */

.alert-mess {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 1.8rem;
  line-height: 1.8rem;
  font-size: .8rem;
  text-align: center;
  background-color: rgba(0, 0, 0, .4);
  color: #fff;
  overflow: hidden;
}


/* ========== 公用提示信息 ========== */


/* ======= 重写 layer ========= */

.layermmain {
  font-family: inherit;
}

.layermanim {
  border-radius: .68rem;
}

.layermcont {
  padding: 0;
}

.layermbtn {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  overflow: hidden;
}

.alert-mess.layermchild {
  z-index: 3 !important;
  max-width: 100% !important;
  border-radius: 0 !important;
}

.alert-mess .layermcont {
  line-height: 1.8rem !important;
  line-height: none;
}


/* ======= 重写 layer ========= */


/* ======== 公用颜色 ======== */


/* 灰色 */

.col-grey {
  color: #333;
}


/* 绿色 */

.col-green {
  color: #51c332;
}

.col-green01 {
  color: #ade870;
}


/* 灰色 */

.col-grey {
  color: #494b4c;
}

.col-grey01 {
  color: #7a7c80;
}

.col-grey02 {
  color: #abaeb2;
}

.col-grey03 {
  color: #c4c7cc;
}


/* ======== 公用颜色 ======== */


/* ======== 公用宽 ========= */

.wd-span {
  display: block;
  float: left;
}

.wd-span:after {
  content: ' ';
}

.mg-auto {
  margin: 0 auto;
}


/* ======== 公用宽 ========= */


/* ======== 公用 css3 样式 ========= */

.radius-50 {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #d6d4d0;
  background-color: #fff;
}

.rotate-180 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}


/* ======== 公用边框 ========= */


/* 弹窗输入 */

.input01 {
  border: 1px solid #ddd;
  width: 14rem;
  border-radius: .4rem;
  margin: 1.6rem 2rem;
  padding: .8rem .5rem;
}


/* ======== 公用文本框  =========== */


/* iconfont */

@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1462352224_9136443.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/font_1462352224_9136443.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1462352224_9136443.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1462352224_9136443.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1462352224_9136443.svg#iconfont') format('svg');
  /* iOS 4.1- */
}

i {
  font-family: 'iconfont' !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
}

.icon-one:before {
  content: '\e60a';
}

.icon-medal:before {
  content: '\e600';
}

.icon-ref:before {
  content: '\e601';
}

.icon-right:before {
  content: '\e602';
}

.icon-recode:before {
  content: '\e603';
}

.icon-error:before {
  content: '\e604';
}

.icon-phone:before {
  content: '\e605';
}

.icon-wx:before {
  content: '\e606';
}

.icon-camera:before {
  content: '\e610';
}

.icon-plane:before {
  content: '\e608';
}

.icon-car:before {
  content: '\e60f';
}

.icon-123:before {
  content: '\e60c';
}

.icon-clock:before {
  content: '\e60b';
}

.icon-email:before {
  content: '\e60d';
}

.icon-user:before {
  content: '\e60e';
}


/* iconfont */

/* user-bottom */

.user-bottom .link {
  display: block;
	padding-top: .3rem;
  border-top: 1px solid #d6d4d0;
}

.user-bottom i {
  line-height: 1.5rem;
	font-size: 1.32rem;
	font-weight: 400;
}

.user-bottom div {
  line-height: 1rem;
	font-size: .68rem;
}

/* user-bottom */

/* memo-icon */
.memo-icon {
	font-size: 4rem;
}
/* memo-icon */
.te-col {
  color: #f2460c;
}
 