/* user-bottom */

.user-bottom .link {
  display: block;
	padding-top: .3rem;
  border-top: 1px solid #d6d4d0;
}

.user-bottom i {
  line-height: 1.5rem;
	font-size: 1.32rem;
	font-weight: 400;
}

.user-bottom div {
  line-height: 1rem;
	font-size: .68rem;
}

/* user-bottom */