/* user-bottom [底部固定导航栏] */

.user-bottom .link {
  display: block;
  padding-top: .1em;
  border-top-width: 1px;
}

.user-bottom i {
  height: 1.5em;
  line-height: 1.5em;
  font-size: 1.62em;
  font-weight: 400;
}

.user-bottom div {
  height: .8em;
  line-height: .8em;
  font-size: .8em;
}

.user-bottom .icon-car {
  position: relative;
}

.user-bottom .num {
  position: absolute;
  top: 0;
  right: -1em;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.6em;
  font-size: .5em;
  overflow: hidden;
}


/* user-bottom */


/* button-bottom [底部按钮] */

.button-bottom .btn-max {
  margin-left: 5%;
  width: 90%;
  line-height: 2.6em;
}

/* button-bottom */


/* prod-bottom [产品底部][购物车底部] */

.prod-bottom {
  border-top-width: 1px;
}

.prod-bottom .btn-max {
  width: 90%;
  line-height: 2em;
  margin: .6em auto 0;
}

.prod-bottom .btn-auto {
  margin-top: .4em;
  margin-right: 10%;
}

.prod-bottom {
  border-color: #dedede;
}

.prod-bottom .info {
  margin: .6em;
  font-size: .78em;
}

.prod-bottom .price {
  font-size: 1.12em;
}

.prod-bottom .num {
  font-weight: 600;
}


/* prod-bottom */


/* nav-sort [顶部固定菜单栏] */

.nav-sort .long {
  padding: 0 .6em;
}

.nav-sort .last {
  border-left-width: 0;
}


/* nav-sort */


/* memo-icon [主图标，微信登录页] */

.memo-icon {
  font-size: 4em;
}


/* memo-icon */


/* prod-list [产品列表] */

.prod-list {
  border-top-width: 1px;
}

.prod-list .sec {
  padding: 1em .6em;
  float: left;
  width: 50%;
  border-right-width: 1px;
  border-bottom-width: 1px;
  font-size: .76em;
  overflow: hidden;
}

.prod-list .sec:nth-of-type(even) {
  border-right: none;
}

.prod-list .image {
  width: 100%;
  margin-bottom: .4em;
  text-align: center;
}

.prod-list .image img {
  max-width: 7em;
  min-width: 6em;
  height: 6em;
}

.prod-list .car {
  width: 10em;
  text-align: center;
  margin: .8em auto 0;
}

.prod-list .car-buy {
  display: block;
  float: left;
  width: 6.8em;
  line-height: 2.2em;
  border-width: 1px;
  border-radius: 1em;
}

.prod-list .car-add {
  display: inline-block;
  width: 2.2em;
  height: 2.2em;
  line-height: 2.1em;
  font-size: 1.02em;
  border: 1px;
}


/* prod-list */


/* car-list [购物车列表] */

.car-list {}

.car-list .row {
  position: relative;
  float: left;
  width: 100%;
  padding: .6em 1em;
  border-bottom-width: 1px;
}

.car-list .image {
  float: left;
  width: 4.4em;
  height: 4.4em;
}

.car-list .main {
  padding-left: 4.8em;
}

.car-list .name {
  height: 1.4em;
  font-size: .8em;
}

.car-list .price {
  height: 1.4em;
  font-size: .76em;
}

.car-list .ope {
  margin-top: .2em;
}

.car-list .ope >div {
  height: 1.8em;
  line-height: 1.7em;
}

.car-list .min,
.car-list .add {
  float: left;
  width: 2em;
  text-align: center;
  border-width: 1px;
}

.car-list .num {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.car-list .min {
  border-radius: .6em 0 0 .6em;
}

.car-list .add {
  border-radius: 0 .6em .6em 0;
}

.car-list .num {
  position: relative;
  float: left;
  width: 5em;
  text-align: center;
}

.car-list .num input {
  width: 80%;
  height: 96%;
  border: 0;
}

.car-list .delete {
  float: right;
  margin-top: -.32em;
  margin-right: .8em;
  font-size: 1.4em;
}


/* car-list */


/* car-none [空购物车] */

.car-none {
  margin-top: 4em;
}

.car-none .icon {
  margin: 0 auto 1em;
  width: 5em;
  height: 5em;
  line-height: 5em;
  border-width: 4px;
}

.car-none i {
  font-size: 3em;
}

.car-none a {
  margin-top: 1em;
}


/* car-none */


/* prod-info [产品详情] */

.prod-info {
  padding: 1em .8em;
  border-top-width: 1px;
  border-bottom-width: 1px;
  font-size: .72em;
}

.prod-info .process {
  float: left;
  width: 100%;
  margin-left: -4em;
  padding-right: 1em;
  padding-left: 4em;
  margin-top: .4em;
  border-right-width: 1px;
}

.prod-info .share {
  float: right;
  width: 3em;
  text-align: center;
}

.prod-info .share i {
  font-size: 1.8em;
  padding-bottom: .2em;
}

.prod-info .feat {
  margin-top: .4em;
  font-size: 1.08em;
}


/* prod-info */


/* info-list [信息列表] */

.info-list {
  border-top-width: 1px;
  font-size: .86em;
}

.info-list .row {
  display: block;
  padding-left: .8em;
  height: 3em;
  line-height: 3em;
  border-bottom-width: 1px;
  overflow: hidden;
}

.info-list .name {
  float: left;
  width: 100%;
  margin-left: -2em;
  padding-left: 2em;
}

.info-list .name i {
  font-size: 1.12em;
  padding-right: .1em;
  vertical-align: .02em;
}

.info-list .right {
  float: right;
  width: 2em;
}


/* info-list */


/* pay-list [支付方式] */

.pay-list {
  background-color: #fff;
  font-size: .92em;
}

.pay-list .row {
  padding: .8em;
}

.pay-list .border {
  border-bottom-width: 1px;
}

.pay-list .method {
  height: 3em;
  border-bottom-width: 1px;
}

.pay-list .icon {
  float: left;
  width: 3em;
  height: 3em;
  line-height: 3em;
}

.pay-list .icon i {
  margin-top: -.1em;
  font-size: 3em;
}

.pay-list .payment {
  position: relative;
  padding-top: .2em;
  padding-left: 3.6em;
}

.pay-list .memo {
  font-size: .9em;
}

.pay-list .righticon {
  position: absolute;
  right: 0;
  top: 0;
  height: 3em;
  line-height: 3em;
}

.pay-list .righticon i {
  font-size: 2em;
}


/* pay-list */


/* win-type [分类弹窗] */

.win-type {
  padding: 1em;
}

.win-type .cell {
  margin: .5em;
  width: 5em;
  height: 5em;
  line-height: 5em;
  text-align: center;
  font-size: .82em;
  cursor: pointer;
  border: 0 !important;
}


/* win-type */
