/* ========== 框架布局 ========== */

.image img {
  width: 100%;
  height: 100%;
}

div,
a {
  border-style: solid;
  border-width: 0;
}

a {
  color: inherit;
}

.ice-nav,
.ice-bar {
  background-color: #fff;
}


/* 顶部 */

.ice-nav {
  position: absolute;
  width: 100%;
  top: 0;
  height: 2.4em;
  line-height: 2.3em;
  text-align: center;
  z-index: 2;
}

.ice-nav .link {
  display: block;
  height: 100%;
  border-bottom-width: 1px;
  font-size: .86em;
  text-align: center;
  cursor: pointer;
  z-index: 2;
}

.ice-nav .link.choose {
  height: 2.6em;
  border-bottom-width: .24em;
}


/* 底部 */

.ice-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 2.8em;
  line-height: 2.8em;
  text-align: center;
  z-index: 2;
}


/* 重写 */

.ice.ice-have-nav {
  top: 2.4em;
}

.ice.ice-have-bar {
  bottom: 2.8em;
}


/* ========== 重写框架布局 ========== */


/* ======= 重写 slider ======= */

.ice-slider .is-footer {
  background-color: transparent;
}

.ice-slider .is-footer span {
  background-color: #ddd;
}


/* ======= 重写 slider ======= */


/* ========== 公用进度条 =========== */

.ice-process {
  height: .4em;
  margin: .1em 0;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  overflow: hidden;
}

.ice-process div {
  height: .4em;
  min-width: 2%;
}


/* ========== 公用进度条 =========== */


/* ========== 公用提示信息 ========== */

.alert-mess {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 1.8em;
  line-height: 1.8em;
  font-size: .8em;
  text-align: center;
  background-color: rgba(0, 0, 0, .4);
  color: #fff;
  overflow: hidden;
}


/* ========== 公用提示信息 ========== */


/* ======= 重写 layer ========= */


/* 移动端兼容，pc 下去掉 */

.layermanim {
  border-radius: .68rem;
}

.layermcont {
  padding: 0;
}

.layermbtn {
  border-radius: 0 0 1rem 1rem;
  -webkit-border-radius: 0 0 1rem 1rem;
  overflow: hidden;
}

.alert-mess.layermchild {
  z-index: 3 !important;
  max-width: 100% !important;
  border-radius: 0 !important;
}

.alert-mess .layermcont {
  line-height: 1.8rem !important;
  line-height: none;
}


/* ======= 重写 layer ========= */


/* ======== 公用颜色 ======== */


/* 灰色 */

.col-grey {
  color: #333;
}


/* 绿色 */

.col-green {
  color: #51c332;
}

.col-green01 {
  color: #ade870;
}


/* 灰色 */

.col-grey {
  color: #7a7c80;
}

.col-grey01 {
  color: #abaeb2;
}

.col-grey02 {
  color: #c4c7cc;
}


/* 黑色 */

.col-black {
  color: #666;
}


/* 背景-类型背景颜色 颜色-字体颜色 */

.cl-green {
  color: #a8dd99;
}

.bg-green {
  background: #a8dd99 !important;
}

.cl-blue {
  color: #1e90ff;
}

.bg-blue {
  background: #1e90ff !important;
}

.cl-orange {
  color: #f82;
}

.bg-orange {
  background: #f82 !important;
}

.cl-red {
  color: #ff7360;
}

.bg-red {
  background: #ff7360 !important;
}

.cl-cyan {
  color: #2bb2a3;
}

.bg-cyan {
  background: #2bb2a3 !important;
}

.cl-purple {
  color: #da70d6;
}

.bg-purple {
  background: #da70d6 !important;
}

.cl-gold {
  color: #ffd700;
}

.bg-gold {
  background: #ffd700 !important;
}

.cl-grey {
  color: #a9a9a9;
}

.bg-grey {
  background: #a9a9a9 !important;
}

.cl-greywhite {
  color: #f7f7f7;
}

.bg-greywhite {
  background: #f7f7f7 !important;
}

.cl-white {
  color: #fff;
}

.bg-white {
  background: #fff !important;
}


/* ======== 公用颜色 ======== */


/* ======== 公用宽 ========= */

.wd-span {
  display: block;
  float: left;
}

.wd-span:after {
  content: ' ';
}

.mg-auto {
  margin: 0 auto;
}

.mg-top {
  margin-top: 1em;
}


/* ======== 公用宽 ========= */


/* ======== 公用 css3 样式 ========= */

.radius-50 {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #c4ccc7;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.rotate-180 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}


/* ======== 公用文本框  =========== */


/* 弹窗输入 */

.input01 {
  border: 1px solid #ddd;
  width: 14em;
  border-radius: .4em;
  margin: 1.6em 2em;
  padding: .8em .5em;
}


/* ======== 公用文本框  =========== */


/* ======== 公用按钮  ========= */


/* 自动大小按钮 */

.btn-auto {
  display: inline-block;
  padding: .5em 2em;
  border-radius: .5em;
  color: #fff;
}


/* ======== 公用按钮  ========= */


/* iconfont */

@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1463585090_805837.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1463585090_805837.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1463585090_805837.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1463585090_805837.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1463585090_805837.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                    

i {
  font-family: 'iconfont' !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
}

.icon-one:before {
  content: '\e60a';
}

.icon-medal:before {
  content: '\e600';
}

.icon-ref:before {
  content: '\e601';
}

.icon-right:before {
  content: '\e602';
}

.icon-recode:before {
  content: '\e603';
}

.icon-error:before {
  content: '\e604';
}

.icon-phone:before {
  content: '\e605';
}

.icon-wx:before {
  content: '\e606';
}

.icon-camera:before {
  content: '\e610';
}

.icon-plane:before {
  content: '\e608';
}

.icon-car:before {
  content: '\e60f';
}

.icon-123:before {
  content: '\e60c';
}

.icon-clock:before {
  content: '\e60b';
}

.icon-email:before {
  content: '\e60d';
}

.icon-user:before {
  content: '\e60e';
}

.icon-type:before {
  content: '\e607';
}

.icon-delete:before {
  content: '\e609';
}

.icon-cameramin:before {
  content: '\e611';
}

.icon-picture:before {
  content: '\e612';
}

.icon-cameramin:before {
  content: '\e611';
}

.icon-arrowleft:before {
  content: '\e613'; 
}

.icon-arrowright:before {
  content: '\e614'; 
}


/* iconfont */
