/* ========== 框架布局 ========== */

a {
  color: inherit;
}

.ice {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ice div {
  z-index: 1;
}

.ice-refresh {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  color: #aaa;
}

.ice-refresh:after {
  content: '上拉加载更多';
}

.ice-nav {
  position: relative;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  background-color: #f3f3f3;
  z-index: 2 !important;
}

.ice-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  background-color: #f3f3f3;
  z-index: 2 !important;
}

.ice-main {
  position: absolute;
  width: 100%;
  top: -5rem;
  bottom: 0rem;
  left: 0;
  right: 0;
  overflow: auto;
}


/* 有 ice-bar 的 ice-main */

.ice-main.ice-main-bar {
  bottom: 3rem !important;
}

.ice-main .i-hide {
  height: 5rem;
  line-height: 5rem;
  text-align: center;
}

.ice-main .i-hide:after {
  content: '↓'
}

.ice-nav ~ .ice-main {
  top: -2rem;
}

.ice-mess {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 1.8rem;
  line-height: 1.8rem;
  font-size: .8rem;
  text-align: center;
  background-color: rgba(0, 0, 0, .4);
  color: #fff;
  overflow: hidden;
}

.ice-pdlr {
  padding-left: .6rem;
  padding-right: .6rem;
}


/* ========== 框架布局 ========== */


/* ======= 重写 layer ========= */

.layermmain {
  font-family: inherit;
}

.layermanim {
  border-radius: .68rem;
}

.layermcont {
  padding: 0;
}

.ice-mess.layermchild {
  z-index: 3 !important;
  max-width: 100% !important;
  border-radius: 0 !important;
}

.ice-mess .layermcont {
  line-height: 1.8rem !important;
  line-height: none;
}


/* ======= 重写 layer ========= */


/* ======== 公用颜色 ======== */


/* [bg- col-]*/

/* 蓝色 */

.col-blue {
  color: #2b7aff;
}


/* 黑色 */

.col-black {
  color: #18191a;
}


/* 白色 */

.col-white {
  color: #fff;
}

/* 灰色 */
.col-grey {
  color: #333;
}

/* 绿色 */
.col-green {
  color: #51c332;
}

.col-green01 {
  color: #ade870;
}

/* ======== 公用颜色 ======== */


/* ======== 公用宽 ========= */

.wd-span {
  display: block;
  float: left;
}

.wd-span:after {
  content: ' ';
}

.mg-auto {
  margin: 0 auto;
}


/* ======== 公用宽 ========= */


/* ======== 公用 css3 样式 ========= */

.radius-50 {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #d6d4d0;
  background-color: #fff;
}

.rotate-180 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}


/* ======== 公用边框 ========= */


/* 弹窗输入 */

.input01 {
  border: 1px solid #ddd;
  width: 14rem;
  border-radius: .4rem;
  margin: 1.6rem 2rem;
  padding: .8rem .5rem;
}

/* ======== 公用文本框  =========== */

/* ======== 公用数值 ========= */
/* ======== 公用数值 ========= */
