/* ========== 框架布局 ========== */

div,
a {
  border-style: solid;
  border-width: 0;
}

a {
  color: inherit;
}

.ice-nav,
.ice-bar {
  background-color: #fff;
}

/* 顶部 */

.ice-nav {
  position: fixed;
  width: 100%;
  top: 0;
  height: 2.4rem;
  line-height: 2.3rem;
  text-align: center;
  z-index: 2;
}

.ice-nav .link {
  display: block;
  height: 100%;
  border-bottom-width: 1px;
  font-size: .86rem;
  text-align: center;
  cursor: pointer;
  z-index: 2;
}

.ice-nav .link.choose {
  height: 2.2rem;
  border-bottom-width: .24rem;
}


/* 底部 */

.ice-bar {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  z-index: 2;
}


/* 重写 */

.ice.ice-have-nav {
  top: 2.4rem;
}

.ice.ice-have-bar {
  bottom: 3rem;
}


/* ========== 重写框架布局 ========== */


/* ========== 公用提示信息 ========== */

.alert-mess {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 1.8rem;
  line-height: 1.8rem;
  font-size: .8rem;
  text-align: center;
  background-color: rgba(0, 0, 0, .4);
  color: #fff;
  overflow: hidden;
}


/* ========== 公用提示信息 ========== */


/* ======= 重写 layer ========= */

.layermmain {
  font-family: inherit;
}

.layermanim {
  border-radius: .68rem;
}

.layermcont {
  padding: 0;
}

.layermbtn {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  overflow: hidden;
}

.alert-mess.layermchild {
  z-index: 5 !important;
  max-width: 100% !important;
  border-radius: 0 !important;
}

.alert-mess .layermcont {
  line-height: 1.8rem !important;
  line-height: none;
}


/* ======= 重写 layer ========= */


/* ======== 公用颜色 ======== */


/* 灰色 */

.col-grey {
  color: #333;
}


/* 绿色 */

.col-green {
  color: #51c332;
}

.col-green01 {
  color: #ade870;
}


/* 灰色 */

.col-grey {
  color: #7a7c80;
}

.col-grey01 {
  color: #abaeb2;
}

.col-grey02 {
  color: #c4c7cc;
}


/* ======== 公用颜色 ======== */


/* ======== 公用宽 ========= */

.wd-span {
  display: block;
  float: left;
}

.wd-span:after {
  content: ' ';
}

.mg-auto {
  margin: 0 auto;
}


/* ======== 公用宽 ========= */


/* ======== 公用 css3 样式 ========= */

.radius-50 {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #d6d4d0;
  background-color: #fff;
}

.rotate-180 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}


/* ======== 公用边框 ========= */


/* 弹窗输入 */

.input01 {
  border: 1px solid #ddd;
  width: 14rem;
  border-radius: .4rem;
  margin: 1.6rem 2rem;
  padding: .8rem .5rem;
}


/* ======== 公用文本框  =========== */


/* iconfont */

@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1462867817_2717898.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1462867817_2717898.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1462867817_2717898.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1462867817_2717898.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1462867817_2717898.svg#iconfont') format('svg'); /* iOS 4.1- */
}

i {
  font-family: 'iconfont' !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
}

.icon-one:before {
  content: '\e60a';
}

.icon-medal:before {
  content: '\e600';
}

.icon-ref:before {
  content: '\e601';
}

.icon-right:before {
  content: '\e602';
}

.icon-recode:before {
  content: '\e603';
}

.icon-error:before {
  content: '\e604';
}

.icon-phone:before {
  content: '\e605';
}

.icon-wx:before {
  content: '\e606';
}

.icon-camera:before {
  content: '\e610';
}

.icon-plane:before {
  content: '\e608';
}

.icon-car:before {
  content: '\e60f';
}

.icon-123:before {
  content: '\e60c';
}

.icon-clock:before {
  content: '\e60b';
}

.icon-email:before {
  content: '\e60d';
}

.icon-user:before {
  content: '\e60e';
}

.icon-type:before {
  content: '\e607';
}

/* iconfont */
