.te-col {
  color: #fe3068;
}

.te-bg {
  background-color: #fe3068;
}


/* 顶部链接 */

.ice-nav .link {
  border-color: #e6e3da;
}

.ice-nav .link.choose {
  border-color: #fe3068;
  color: #fe3068;
}


/* 顶部链接 */

.nav-sort .last {
  border-color: #c4ccc7;
}


/* 底部链接，购物车数字 */

.ice-bar .link {
  border-color: #c4ccc7;
}

.user-bottom .num {
	background-color: #fe3068;
  color: #fff;
	border: 0;
}

/* 进度条 */

.ice-process {
	background-color: #ccc;
}

.ice-process div {
	background-color: #fe3068;
}

/* 一元购产品列表 */

.prod-list,
.prod-list .sec {
  border-color: #e6e3da;
}

.prod-list .car-buy {
  color: #fe3068;
  border-color: #fe3068;
}

.prod-list .car-add {
  background-color: #fe3068;
  color: #fff;
}

/* 购物车列表 */
.car-list .row {
  border-color: #eee;
}

.car-list .ope >div {
	border-color: #ccc;
}

/* 分类弹窗 */
.win-type {
  color: #fff;
}